.body1{
  background-attachment: fixed;
}

.schedule {
  overflow: hidden;
  margin: 125px 0;
  border-radius: 5px 5px 0 0;
  border-collapse: collapse;
  font-size: 1em;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.20);
}

.schedule thead tr {
  background-color: #0c5eca;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}

.schedule th {
  padding: 10px 20px;
}

.schedule tbody tr:nth-of-type(even) {
  background-color: #f3f1f1;
}

.schedule td {
  padding: 10px 20px;
}

.schedule tbody tr {
  border-bottom: 1px solid #c4bbbb;
}


.schedule tbody tr.active-row {
  color: #0758b4;
  font-weight: bold;
}

.schedule tbody tr:last-of-type {
  border-bottom: 3px solid #1370c7;
}


.titleBox2 h1{
  font-size: 2rem;
  color: white;
  padding: 10px 20px;
  background-color: black;
  margin-top: 50px;
  text-transform: uppercase;
}

#titleBox {
  font-family: Poppins-Bold;
  display: flex;
  align-items: center;
  justify-content:  center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 120px;
}

.promo dd {
  font-size: 3rem;
  margin: 10px;
}

p.promotitle {
  font-size: 5em;
  margin: 25px;
}

p.promotitle:hover {
  color: aqua;
}